<!DOCTYPE html>
<html lang="en">
<head>
<title>Catering.com</title>
<meta charset="utf-8">
<%= javascript_include_tag "application" %>
<% stylesheet_link_tag "skins/#{@section}", :media => :screen %>
<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag "print", :media => :print %>
 <%= csrf_meta_tags %>
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
</head>
<body id="page1">
 <%= render :partial => '/layouts/header' %>
    <%= yield %>
 <%= render :partial => '/layouts/footer' %>

<div align=center>Order your delicacies now</a></div>
</body>
</html>
